<form id="addCarForm" class="ui form" action="/car/{{Car.id}}/addCar" method="POST">
    <h3 class="ui header">Add a car</h3>
  <div class="field">
    <input name="Model" type="text" placeholder="Model">
  </div>
  <div class="field">
    <input name="picture" type="text" placeholder="Image (Please enter a link to your image here)">
  </div>
    <div class="field">
    <input name="Year" type="text" placeholder="Year">
  </div>
    <div class="field">
    <input name="Price" type="text" placeholder="Price">
  </div>
    <div class="field">
    <input name="Engine" type="text" placeholder="Engine">
  </div>
    <div class="field">
    <input name="Horsepower" type="text" placeholder="Horsepower">
  </div>
    <div class="field">
    <input name="Topspeed" type="text" placeholder="Topspeed">
  </div>
    <div class="field">
    <input name="zerotosixty" type="text" placeholder="0 - 60mph">
  </div>
    <button class="ui blue submit button"> Add Car </button>
</form>