<form id="addManuForm" class="ui form" action="/Dashboard/addManu" method="POST">
    <h3 class="ui centered header">Add a Manufacturer</h3>
  <div class="field">
    <input name="Manufacturer" type="text" placeholder="Manufactuer name">
  </div>
  <div class="field">
    <input name="est" type="text" placeholder="Year established">
  </div>
  <div class="field">
    <input name="logo" type="text" placeholder="Logo (Please enter a link to your image here)">
  </div>
  <button class="ui centered blue submit button"> Add Manufactuer </button>
</form>