<div class="ui compact menu">
  <div class="ui simple dropdown item">
    <i class="list icon"></i>
    <div id="DropMenu" class="menu">
      <div id="DropMenu2" class="item"><i class="star icon"></i></div>
      <div id="DropMenu3" class="item" onclick="location.href='/'"><i class="logout icon"></i></div>
    </div>
  </div>
</div>
