            <H2 class="Welcome">Registration</H2>
            <form class="ui form" action="/register" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button class="ui animated submit button" tabindex="0">
                    <div class="visible content">Register</div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </button>
                </div>
            </form>